/* Reset Code Start Here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins;
}
/* Reset Code End Here */

/* Nav Section Code Start */
nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  
}
nav h3{
    color: #3a3a3a;
    font-size: 1.7rem;
    font-weight: 700;
}
#nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 35px;
  text-align: center;
  
}

nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #3a3a3a;
}
#nav-menu ul a{
    filter: grayscale(100%);
}
/* Nav Section Code End */
