/* Reset Code Start Here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins;
}
/* Reset Code End Here */

/* Nav Section Code Start */
nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
nav h3 {
  color: #3a3a3a;
  font-size: 1.7rem;
  font-weight: 700;
}
#nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-menu-icons {
  display: flex;
  gap: 34px;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 35px;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #3a3a3a;
}
.nav-menu-icons a i {
  font-size: 20px;
  color: #000000;
}
/* Nav Section Code End */
/* Banner Section Code Start  */
#banner-section {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../images/Circle-design.svg);
  background-repeat: no-repeat;
  background-position: 682px;
  background-size: 40%;
}
.banner-contant {
  width: 45%;
}
.banner-contant p {
  font-size: 1rem;
  font-weight: 600;
  color: #3a3a3a;
  margin-bottom: 34px;
  text-align: justify;
}
.banner-contant button {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #e02c6d;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}
.banner-contant button span {
  padding-left: 10px;
}
#banner-section img {
  width: 40%;
  text-align: center;
  padding-left: 5%;
}
.brand-logo {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 50px;
}
/* Banner Section Code End  */
/* Popular Collection Section Code Start */
#popular-collection-of-products {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
#popular-collection-of-products h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #3a3a3a;
  text-align: center;
  margin-bottom: 24px;
}
.popular-collection-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 30px;
}
.popular-collection-product-card {
  width: 320px;
  height: 510px;
  padding: 20px;
  box-shadow: 10px 10px 40px #00000015;
  border-radius: 5px;
}
.popular-collection-product-card img {
  width: 100%;
}
.popular-collection-product-card h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 14px;
}
.popular-collection-product-card h5 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 14px;
}
.popular-collection-product-card i {
  color: #fb8200;
  font-size: 0.9rem;
  margin-bottom: 14px;
}
.popular-collection-product-card span {
  color: #5e6366;
  font-size: 0.9rem;
  font-weight: 700;
  padding-left: 10px;
}
.popular-collection-product-card p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #5e6366;
  text-align: justify;
}
#popular-collection-of-products button {
  border: none;
  background: none;
  color: #e02c6ef5;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  left: 90%;
  margin-top: 24px;
}
#popular-collection-of-products button span {
  font-size: 1rem;
  font-weight: 700;
}
/* Popular Collection Section Code End */
/* Featured Section Code Start */
#featured-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.featured-image-container {
  width: 40%;
}
#featured-container img {
  width: 90%;
}
.featured-text-container {
  width: 55%;
}
.featured-text-container h2 {
  color: #0a0826;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.featured-text-container p {
  padding-right: 10%;
  color: #6c6c6c;
  font-size: 1rem;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 16px;
}
.featured-text-container button {
  background-color: #e02c6ef5;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.featured-text-container button span {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 10px;
}
/* Featured Section Code End */
