@media only screen and (min-width: 646px) and (max-width: 1080px) {
  /* Nav Section Code Start */
  #nav-menu ul {
    flex-direction: column;
  }
  /* Nav Section Code End */
  /* Banner Section Code Start */
  #banner-section {
    width: 80%;
    flex-direction: column;
    background: none;
    margin-top: 100px;
  }
  .banner-contant {
    width: 100%;
  }
  #banner-section img {
    width: 75%;
    margin-top: 24px;
  }
  .brand-logo {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 50px;
  }
  /* Banner Section Code End */
  /* Popular Collection Section Code Start */
  #popular-collection-of-products {
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .popular-collection-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 30px;
  }
  /* Popular Collection Section Code End */
}
